* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(49, 49, 49),
    rgb(102, 102, 104)
  );
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center;
  /* color: white; */
  /* text-shadow: 2px 2px 1px black; */
  font-family: "Palatino", "Book Antiqua", serif;
}
::placeholder {
  font-size: 20px;
}
.container-fluid {
  width: 410px;
  margin: 50px auto;
  padding: 10px;
}
.inputs {
  padding: 2rem 0 2rem 0;
  text-align: center;
  justify-content: center;
  background: rgb(78, 77, 77);
}

#intro {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* margin-top: 20px; */
  /* font-size: 62px; */
  /* margin-top: 36px; */
}

#weatherContainer {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px black;
  padding: 35px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
  box-shadow: 11px 8px 15px rgb(54, 56, 56);
  margin-top: 130px;
  left: calc(50% - 199px);
  top: calc(50% - 223.077px);
  /* visibility: visible; */
  margin-left: 50px;
  margin-right: 53px;
}

@media (min-width: 320px) {
  #weatherContainer {
    width: 93% !important;
    margin-left: 1px !important;
    padding: 20px !important;
  }
}

@media (min-width: 375px) {
  #weatherContainer {
    width: 83% !important;
    margin-left: -8px !important;
    font-size: 10px !important;
  }
}
@media (min-width: 425px) {
  #weatherContainer {
    width: 81% !important;
    margin-left: -27px !important;
    font-size: 10px !important;
    /* margin-right: 156px !important; */
  }
}
@media (min-width: 768px) {
  #weatherContainer {
    width: 51% !important;
    margin-left: -45px !important;
    font-size: 10px !important;
  }
}
@media (min-width: 1024px) {
  #weatherContainer {
    width: 55% !important;
    margin-left: -140px !important;
    font-size: 10px !important;
  }
}
@media (min-width: 1440px) {
  #weatherContainer {
    width: 41% !important;
    margin-left: -165px !important;
    font-size: 79px !important;
  }
}
#weatherContainer h1 {
  margin: 5px;
  font-size: 42px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
  padding: 20px;
  padding: 20px;
  /* margin-left: 37%; */
  display: flex;
  justify-content: center;
}
#searchContainer input {
  width: 200px;
  height: 59px;
}
#searchContainer button {
  background-color: rgb(60, 66, 68);
  color: white;
  width: 75px;
  margin-left: 10px;
}
.searchControl {
  box-shadow: 5px 8px 5px rgb(83, 87, 88);
  border: none;
  border-radius: 5px;
  padding: 8px;
}
@media (min-width: 768px) {
  #searchContainer input {
    width: 50vh;
    height: 11vh;
  }
  #searchContainer button {
    width: 15vh;
    height: 11vh;
  }
}
#weatherMain {
  display: block;
  margin-bottom: 20px;
}
#weatherMain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 28px;
  vertical-align: 50%;
}
#temperature {
  font-size: 38px;
  vertical-align: 25%;
}
.bottom-details {
  display: block;
  font-size: 24px;
  text-align: right;
}
hr {
  margin-bottom: 20px;
}

.parent {
  display: flex;
}

.main {
  /* background-image: linear-gradient(
    to right,
    rgb(49, 49, 49),
    rgb(102, 102, 104)
  ); */
}
